<li class="list-group-item list-group-item-info">
	{{burger_name}}
{{#if devour}}
	<button class="change-devour btn btn-warning" data-id="{{id}}" data-newdevour="{{devour}}">DEVOUR IT</button>
{{/if}}
	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE</button>
</li>
